* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}

h1{
  color: #28A78D;
}

#main-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}

.dark {
  background-color: #E1DBD2;
}

.light {
  background-color:#F2EEE8;
}

#navbar {
  /* position: fixed;
  width: 100%;
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

#nav-button {
  font-family: 'Roboto Bold', sans-serif;
  color: #655D5D;
}

#nav-button:hover {
  color: #38a88e;
}

#mobile-nav-button {
  color: #655D5D;
}

#mobile-nav-button:hover {
  color: #38a88e;
}

.section {
  padding: 2em;
}

.MuiTypography-h5.feature-header, .MuiTypography-h2.why-header, .MuiTypography-h2#features-header
{
  font-family: 'Spartan', sans-serif;
}

.logo {
  font-family: 'Spartan', sans-serif;
  color: #38a88e;
  font-size: 24px;
}

.logo:hover {
  opacity: 70%;
}

#backToTop {
  opacity: 60%;
  width: 50px;
}

#backToTop:hover {
  opacity: 100%;
}

#getting-started {
  font-family: 'Spartan', sans-serif;
  color: #38a88e;
}

#credits-header {
  font-family: 'Spartan', sans-serif;
  color: #38a88e;
}

#credits-body {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

.MuiTypography-body1.why-feature-bold {
  font-family: 'Spartan', sans-serif;
  color: #28a78d;
  font-weight: 1000;
  font-size: 2em;
}

#credits-icon {
  color: #52514e;
  font-size: 40px;
}

#credits-icon:hover {
  color: #28A78D;
  font-size: 40px;
}

#download-icon {
  color: #28A78D;
  font-size: 60px;
}

#download-icon:hover {
  opacity: 70%;
}

#custom-download-icon:hover {
  opacity: 70%;
}

#avatar {
  width: 150px;
  height: 150px;
}

#medium-icon {
  width: 40px;
  border-radius: 50%;
  padding-left: 5px;
}

.chevron-down {
  padding-top: 35px;
  opacity: 30%;
  fill: #52514E;
  margin: auto;
  width: 4em;
  height: 5em;
  animation: hover-me .8s infinite ease-in-out alternate;
}

@keyframes hover-me {
  100% { transform: translate3d(0, 25px, 0); }
}

@media screen and (max-width: 600px){
  .MuiTypography-h2.why-header
  {
    font-size: 2.75rem;
  }
  .MuiTypography-h2#features-header
  {
    font-size: 2rem;
  }
  .MuiTypography-h2#credits-header
  {
    font-size: 2rem;
  }
}