* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #E1DBD2;
}

#main-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}

.dark {
  background-color: #E1DBD2;
}

.light {
  background-color:#F2EEE8;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.MuiButton-text.nav-button {
  font-family: 'Roboto Bold', sans-serif;
  color: #655D5D;
}

.nav-button:hover {
  color: #38a88e;
}

#nav-link {
  text-decoration: none;
}

.section {
  padding: 2em;
}

.MuiTypography-h5.feature-header, h1, .MuiTypography-h2.why-header, .MuiTypography-h2#features-header, .MuiTypography-h4.demoFeature
{
  font-family: 'Spartan', sans-serif;
}

.MuiTypography-body1.why-feature {
  font-size: 24px;
}

.logo {
  font-family: 'Spartan', sans-serif;
  color: #38a88e;
  font-size: 24px;
}

.logo:hover {
  opacity: 70%;
}

#backToTop {
  opacity: 60%;
  width: 50px;
}

#backToTop:hover {
  opacity: 100%;
}

#getting-started {
  font-family: 'Spartan', sans-serif;
  color: #38a88e;
}

#select-platform {
  font-style: italic;
  font-size: 23px;
  text-align: center;
}

#credits-header {
  font-family: 'Spartan', sans-serif;
  color: #38a88e;
}

#credits-body {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

.why-feature-bold {
  font-family: 'Spartan', sans-serif;
  color: #28a78d;
  font-weight: 1000;
  font-size: 2em;
}

#credits-icon {
  color: #52514e;
  font-size: 40px;
}

#credits-icon:hover {
  color: #28A78D;
  font-size: 40px;
}

#download-icon {
  color: #28A78D;
  font-size: 60px;
}

#download-icon:hover {
  opacity: 70%;
}

#custom-download-icon:hover {
  opacity: 70%;
}

#avatar {
  width: 150px;
  height: 150px;
}

#avatar:hover {
  opacity: 0.8;
}

#medium-icon {
  width: 33px;
  height: 33px;
  border-radius: 20px;
}

.footerIcons {
  color: #655D5D;
}

.chevron-down {
  padding-top: 35px;
  opacity: 30%;
  fill: #52514E;
  margin: auto;
  width: 4em;
  height: 5em;
  animation: hover-me .8s infinite ease-in-out alternate;
}

#os-link {
  color: inherit;
  text-decoration: inherit;
}

#os-link:hover {
  color: #28a78d;
}

@keyframes hover-me {
  100% { transform: translate3d(0, 25px, 0); }
}

@media screen and (max-width: 600px){
  .MuiTypography-h2.why-header
  {
    font-size: 2.75rem;
  }
  .MuiTypography-h2#features-header
  {
    font-size: 2rem;
  }
  .MuiTypography-h2#credits-header
  {
    font-size: 2rem;
  }
  .MuiTypography-h1#getting-started
  {
    margin-top: -200px;
    font-size: 2.5rem;
  }
  #main-logo{
    width:100%
  }
}
.demoInfo {
  width: 15%;
}

#demo-title {
  font-family: 'Spartan', sans-serif;
  font-size: 60px;
}

#demo-string {
  font-size: 22px;
.feature{
  width: 33%;
}

.divider-info {
  width: 60%;
}

.divider {
  height: 300px;
  display: flex;
  align-items: center;
}